.a { text-align: center; background-color: rgba(0,0,255,0.75); list-style-type: none; display: inline-block; width: 80px; height: 80px; margin: 0.2em; border-radius: 10%; box-shadow: 0.15em 0.1em 0.2em gray; }
.carre { width: 80px; height: 80px; padding: 0; }
table { border: 3px ridge green; border-spacing: 0;}
td { border: 1px solid darkgreen; }
#joueur { color: blue; }
svg { vertical-align: bottom; }
#.v { background-color: rgba(0,255,0,0.75); }
